html{
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  background-color: aquamarine;
}

h1{
    margin: 0;
    padding: 0px 0;
    text-shadow: 2px 2px 3px grey;
    font-size: 60px;
    text-align: center;
}

img{
    width: 453px;
    display: block;
    margin: 0 auto;
    border-radius: 15%;
}

p, li{
    display: flex;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: darkslategray;
    border-radius: 6px;
    padding: 0 20px 0px 20px;
    border: 5px solid black;
}

a{
    display: flex;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    color: black;
    letter-spacing: 1px;
    text-shadow: 1px 1px 10px aquamarine;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    margin: 20px auto 0;
}
